/* aa21050-ejercicio2b.css SUCARNET */
pais { background-color: blue;  font-size: 1cm;}
departamento { text-align: center; background-color: blue; display: block; }
cabecera { color: white; display: inline; }
habitantes { color: white; display: inline; }
altura { color: white; font-size: 1cm; display: inline; }
moneda { text-align: center; background-color: white; display: block; }
codigoArea { text-align: center; background-color: white; display: block; }
idiomaOficial { text-align: center; background-color: white; display: block; }
idiomaAutoctono {color: white; text-align: center; background-color: blue; display: block; }
idiomaSecundario { color: white; text-align: center; background-color: blue; display: block; }
